ngb-carousel{
    padding: 5px;
    margin: 15px;
    background-color: rgba(0,0,0,0.3);
    border: rgb(146, 146, 146) solid 2px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(0 0 0) 1px 1px 2px;
    position: relative;
    height: auto;
}

.picsum-img-wrapper>img{
    max-height: 70vh;
    max-width: 90vw;
}

.carousel-item{
    height: 70vh;
    width: 80vw;
}

.carousel-caption{
    top: 64%;
    font-size: auto;
    position: fixed;
    width: auto;
    font-size: larger;
}


