<div class="container-fluid">
    <div class="col text-center pt-2">
        <ngb-carousel wrap="true" animation="true" *ngIf="bCarregado">
            <ng-template ngbSlide *ngFor="let image of Items; index">
                <div class="picsum-img-wrapper vertical-align-center">
                    <img src="{{image.imageUrl}}" alt="Carregando slide...">
                </div>
                <div class="carousel-caption">
                    {{image.description}}
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>