<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <p class="fontDefault text-center fst-italic">16 de Maio de 2021</p>
    </div>
    <div class="d-flex justify-content-center">
        <p class="fontDefault2 text-center">--------- Curiosidade do período atual de gestação ---------</p>
    </div>
    <div class="card mb-3 w-50 m-auto">
        <div class="row g-0">
            <div class="col-md-5">
                <div class="card-body fontDefault3">
                    <div class=" ">Período:</div>
                    <div class="ps-3">- 24 á 27 semanas</div>
                    <div class="mt-4">Relação de Tamanho:</div>
                    <div class="ps-3">- Mamão</div>
                </div>
            </div>
            <div class="col-md-7">
                <img class="bd-placeholder-img imgcss" src="assets/img/fruta-27.png">
            </div>
        </div>
    </div>
</div>