
.card-title{
    font-family: Artika ;
    color: #1e3447;
    text-shadow: white  1px 2px 2px;
    text-align: center;
}

.card-img{
    height: 35vh;
}
.imgcss{
    position: absolute;
    height: 40vh;
    max-width: 80vw;
    max-height: 40vh;
    padding: 0;
    margin: 0;
    top: 37px;
    right: -38px;
}