

.collapse:not(.show) {
    margin-right: 4vw!important;
}

.nav-link {
    background-image: url(../../../assets/img/dots.png);
    background-repeat: repeat-x;
    background-position: left top;   
    background-size: contain;
    text-decoration: none;
    color: #4483b9!Important;
    text-shadow: #fff 0 1px 0;
    font-family: Artika;
    text-transform:capitalize;
    }
    
    .nav-link.active{
        color: #2e5b83!important;
        text-shadow: #fff 0 2px 2px;
    }

    @media(max-width: 991px){
    .menu-collapse{
        position: fixed;
        text-align: center;
        width: 100%;
        background: rgba(255,255,255,0.9);
        z-index: 30;
    }
}

    @media(min-width: 992px){
    .menu-collapse{
        text-align: center;
        width: 100%;
        background: rgba(255,255,255,0.4);
        margin-right: 4vw;
    }
}

    .bebe{
        color: #2e5b83;
        font-family: Dancing Script;
        font-weight: bolder;
        font-size: 3rem;
        display: block;
        text-shadow: white 1px 3px 2px ;
    }

    li:hover{
        text-shadow: white 0 2px;
    }
    
    .soundicon{
        position: absolute;
        top:2vh;
        right:3px;
        font-size: 3vh;
        width: 20px;
        color: #4a81b0;
    }

    .adminicon{
        position: absolute;
        top:2vh;
        right:4vw;
        font-size: 3vh;
        width: 20px;
        color: #4a81b0;
    }

    .componentbg{
        background:white url('../../../assets/img/header2.jpg') top right no-repeat;
        background-size: 100% 72px;
        box-shadow: black 1px -3px 7px;
    }

    #menuline {
        border-bottom: solid #4a80b067 1px;
        padding-top: 5px;
        height: 1px;
    }