<div class="container-fluid componentbg" *ngIf="isAuthenticated()">
<div class="row h-50 text-center">
    <div id="topline"> </div>
    <div id="triangle"> </div>
    <div class="announce">QUEREMOS COMPARTILHAR NOSSA ALEGRIA COM VOCÊ ...</div>
    <i class="soundicon fas fa-volume-up h3 col-1" *ngIf="this.audio?.src" (click)="this.stopAudio();" ></i>
    <i class="soundicon fas fa-volume-off h3 col-1" *ngIf="!this.audio?.src" (click)="this.playAudio();" ></i>
  </div>
    <div class="d-flex w-80 justify-content-center mx-5" role="tablist">
        <div class="flex-fill w-25 text-center" >
          <a class="nav-link" routerLinkActive="active" routerLink="/movies">Home</a>
        </div>
        <div class="flex-fill w-25 text-center">
          <a class="nav-link " routerLinkActive="active" routerLink="/gallery">Imagens</a>
        </div>
        <div class="flex-fill  w-25 text-center" >
          <a class="bebe" routerLinkActive="active" routerLink="/home" >Martim</a>
        </div>
        <div class="flex-fill w-25  text-center">
          <a class="nav-link" routerLinkActive="active" routerLink="/cad">Presentes</a>
        </div>
        <div *ngIf="isAuthenticated()" class="flex w-25  text-center">
            <a class="nav-link" href="#" (click)="logOff()">Desconectar</a>
        </div>
        <div *ngIf="!isAuthenticated()" class="flex w-25  text-center">
            <a class="nav-link" href="#" (click)="logIn()">Login</a>
        </div>

      </div>
      <div class="row" id="menuline"> </div>
    </div>

