<div class="container mt-2">
    <div class="auto-invert line-b-4 align-center">
        <!-- <h4 class="font-cond-l fg-accent lts-md mgb-10" contenteditable="false">Not Yet Convinced?</h4>
      <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Customer Reviews</h1> -->
        <button class="btn btn-sm small btn-primary mt-2 mb-2 " (click)="open(mymodal)"><i class="fas fa-comments mr-2" ></i>Deixe sua mensagem</button>
    </div>
    <!--ul class="hash-list cols-12 cols-12-xs m-0 p-0 align-center text-sm" *ngIf="Items">
        <li *ngFor="let item of Items; ; let i= index" class="col-sm-3 col-6 m-0 p-0  text-center zoom-50">
            <div class="mr-1 mb-1 p-2 muraltransp">
                <ngx-avatar size="70" name="{{item.nome}}" class="flex text-center"></ngx-avatar>
                <h5 class="pt-2 font-cond mgb-5 fg-text-d fs-130" contenteditable="false">{{item.nome}}</h5>
                <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false" [innerHTML]="item.nota"></small>
            </div>
        </li>
    </ul-->
    <div class="row p-0 m-0" *ngIf="Items">
        <div class="col-xl-6 col-md-12 pt-0 m-0 pb-2" *ngFor="let item of Items; idx">
            <div class="card bg-transparent overflow-hidden">
                <div class="card-content">
                    <div class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="media-body ">
                                <h4>{{item.nome}}</h4>
                                <div class="text-center" [innerHTML]="item.nota"></div>
                            </div>
                            <div class="float-right">
                                <i class="fas fa-comments primary font-large-6 ml-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg container-fluid">
    <!--section id="minimal-statistics">
        <div class="row">
            <div class="col-8 mt-3 mb-1">
                <h5 class="text-uppercase">Deixe sua mensagem para o Martim</h5>
                <p class="m-0 p-0">É possível deixar mensagem privada. As mensagem serão censuradas e não devem conter teor político ...</p>
            </div>
            <div class="col-4"><button class="btn btn-sm btn-primary mt-3" (click)="open(mymodal)"><i class="fas fa-comments mr-2" ></i>Deixar mensagem</button></div>
        </div>
        <div class="row p-0 m-0" *ngIf="Items">
            <div class="col-xl-6 col-md-12 pt-3"  *ngFor="let item of Items; idx">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body cleartfix">
                            <div class="media align-items-stretch">
                                <div class="media-body">
                                    <h4>{{item.nome}}</h4>
                                    <span [innerHTML]="item.nota"></span>
                                </div>
                                    <div class="float-right">
                                        <i class="fas fa-comments primary font-large-6 mr-2"></i>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-->

    <ng-template id="modal" #mymodal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">{{this.title}}</h5>
            <div class="btn pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="h4 defaultColor fas fa-times"></i>
            </div>
        </div>
        <div class="modal-body">
            <form [formGroup]="cadmuralForm" (ngSubmit)="registrar()">
                <div class="input-group mb-3">
                    <label class="col-sm-12 control-label">Nome</label>
                    <input type="text" class="form-control" formControlName="Nome" placeholder="Nome(s)">
                </div>
                <div *ngIf="Nome.touched && Nome.errors?.required" class="alert alert-danger">Campo Obrigatório</div>
                <div class="input-group mb-3">
                    <label class="col-sm-12 control-label">Mensagem</label>
                    <input type="text" class="form-control animated fadeIn infinite" formControlName="Nota" placeholder="Mensagem">
                </div>
                <div *ngIf="Nota.touched && Nota.errors?.required" class="alert alert-danger">Campo Obrigatório
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" formControlName="Privado" id="Privado">
                    <label class="form-check-label" for="Privado">
                      Manter mensagem privada?
                    </label>
                </div>
                <div class="modal-footer form-inline">
                    <div class="btn btn-primary col login_btn" (click)="registrar();modal.close('Adicionar');">Adicionar</div>
                    <div class="btn btn-primary col " (click)="modal.close('Cancelar')">Cancelar</div>
                </div>
            </form>
        </div>
    </ng-template>
</div>