<a *ngIf="this.cart?.length" class="cart animate__animated animate__headShake animate__slow animate__repeat-3" (click)="this.step = 0;this.openModal(bscheckout);" routerLink="/checkout" href="#"><img class="" src="/assets/img/cart.png"></a>
<div class="container mt-5">
    <div class="container pl-1vw pr-1vw">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-6 pl-1vw pr-1vw" *ngFor="let item of this.items; index">
                <div class="card product_item">
                    <div class="body">
                        <div class="cp_img">
                            <img src="assets/img/fralda.png" alt="Product" class="img-fluid" style="cursor: pointer;">
                            <div _ngcontent-aur-c3="" class="hover"></div>
                            <div _ngcontent-aur-c3="" class="fraldatipo zoom-50">{{item.description}}</div>
                        </div>
                        <div class="product_details">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-12 m-0 p-0">
                                    <a class="h6 productname" href="javascript:void(0)" (click)="addItem(item)">{{item.product}}</a>
                                    <ul class="product_price list-unstyled">
                                        <li class="old_price">R$ {{item.value}}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 m-0 p-0">
                                    <a *ngIf="!item.qtd" href="javascript:void(0);" (click)="addItem(item)" class="btn btn-primary btn-sm waves-effect">Adicionar</a>
                                    <div *ngIf="item.qtd">
                                        <a href="javascript:void(0);" (click)="addItem(item)" class="btn btn-primary btn-sm waves-effect"><i class="fas fa-plus"></i></a>
                                        <span class="h4 productqtd"> {{item.qtd}} </span>
                                        <a href="javascript:void(0);" (click)="delItem(item)" class="btn btn-danger btn-sm waves-effect"><i class="fas fa-minus"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #bscheckout>
        <div class="modal-header">
            <div class="modal-title h4 pull-left" id="my-modal-title">Finalizar presente(s)</div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body m-0 p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="steps d-flex flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                        <div class="step" [ngClass]="{completed: step>-1}">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="fas fa-clipboard-check"></i></div>
                            </div>
                            <h4 class="step-title">Resumo</h4>
                        </div>
                        <div class="step" [ngClass]="{completed: step>0}">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="fas fa-money-check-alt"></i></div>
                            </div>
                            <h4 class="step-title">Dados do Pagamento</h4>
                        </div>
                        <div class="step" [ngClass]="{completed: step>1}">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="fas fa-check"></i></div>
                            </div>
                            <h4 class="step-title">Confirmação</h4>
                        </div>
                    </div>

                </div>
            </div>
            <div id="my-modal-description">
                <div *ngIf="this.step==0" class="container">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let item of this.cart; index" class="list-group-item">{{item.product}} ({{item.qtd}}) R$ {{item.value}}</li>
                    </ul>
                    <div class="row m-0 p-0">
                        <div class="col">
                            <div class="action-btn">
                                <button class="btn btn-success btn-lg" (click)="modalRef.hide()">
                                    Voltar
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="action-btn">
                                <button class="btn btn-success btn-lg" (click)="this.sobeStep()">
                                    Proximo
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.step==1" class="container">
                    <div class="view-account">
                        <section class="module">
                            <div class="module-inner">
                                <div class="content-panel">
                                    <h2 class="title">Dados do Pagamento</h2>
                                    <div class="billing">
                                        <div class="secure text-center margin-bottom-md">
                                            <div class="h4 margin-bottom-md text-success">
                                                <span class="fs1 icon" aria-hidden="true" data-icon=""></span> Pagamento via cartão de crédito seguro<br>
                                                <small>Ambiente seguro 256-bit SSL pagamento criptografado</small>
                                            </div>
                                            <div class="accepted-cards">
                                                <ul class="d-flex flex-sm-nowrap justify-content-between list-inline mx-5">
                                                    <li><img src="https://www.uxfordev.com/demo/1.0.6/assets/images/payment-icon-set/icons/visa-curved-32px.png" alt="Visa"></li>
                                                    <li><img src="https://www.uxfordev.com/demo/1.0.6/assets/images/payment-icon-set/icons/mastercard-curved-32px.png" alt="MasterCard"></li>
                                                    <li><img src="https://www.uxfordev.com/demo/1.0.6/assets/images/payment-icon-set/icons/maestro-curved-32px.png" alt="Maestro"></li>
                                                    <li><img src="https://www.uxfordev.com/demo/1.0.6/assets/images/payment-icon-set/icons/american-express-curved-32px.png" alt="American Express"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <form id="billing" class="form-horizontal" method="post" action="#" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">Nome no Cartão</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Your name">
                                                    <p class="help-block">Como aparece no cartão</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">Número do Cartão </label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="•••• •••• •••• ••••">
                                                    <p class="help-block">Os 16 digitos da frente do seu cartão de credito</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">Vencimento</label>
                                                <div class="col-sm-12 form-inline">
                                                    <select class="form-control">
                                                        <option value="01">01</option>
                                                        <option value="01">02</option>
                                                        <option value="01">03</option>
                                                        <option value="01">04</option>
                                                        <option value="01">05</option>
                                                        <option value="01">06</option>
                                                        <option value="01">07</option>
                                                        <option value="01">08</option>
                                                        <option value="01">09</option>
                                                        <option value="01">10</option>
                                                        <option value="01">11</option>
                                                        <option value="01">12</option>
                                                    </select>
                                                    <span class="divider mx-1">/</span>
                                                    <select class="form-control">
                                                        <option value="01">2021</option>
                                                        <option value="01">2022</option>
                                                        <option value="01">2023</option>
                                                        <option value="01">2024</option>
                                                        <option value="01">2025</option>
                                                        <option value="01">2026</option>
                                                        <option value="01">2027</option>
                                                        <option value="01">2028</option>
                                                        <option value="01">2029</option>
                                                        <option value="01">2030</option>
                                                        <option value="01">2031</option>
                                                        <option value="01">2032</option>
                                                        <option value="01">2033</option>
                                                        <option value="01">2034</option>
                                                        <option value="01">2035</option>
                                                    </select>
                                                    <p class="help-block">A data do seu cartão de crédito expirou. Procure o vencto na frente do seu cartão.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">Código de Segurança(CVC)</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" style="width: 120px;" placeholder="CVC">
                                                    <p class="help-block">São 3 digitos que ficam nas costas do seu cartão de crédito.</p>
                                                </div>
                                            </div>
                                            <div class="address">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">Endereço</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" placeholder="Endereço">
                                                    </div>
                                                </div>
                                                <div class="form-group form-horizontal">
                                                    <div class="row m-0 p-0">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" placeholder="Cidade">
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <input type="text" class="form-control" placeholder="CEP">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-horizontal">
                                                    <div class="row m-0 p-0">
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control" placeholder="Pais">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" placeholder="Estado">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="action-wrapper text-center">
                                                <div class="row m-0 p-0">
                                                    <div class="col">
                                                        <div class="action-btn">
                                                            <button class="btn btn-success btn-lg" (click)="this.desceStep()">
                                                                Voltar
                                                                <i class="fa fa-chevron-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="action-btn">
                                                            <button class="btn btn-success btn-lg" (click)="this.sobeStep()">
                                                                Proximo
                                                                <i class="fa fa-chevron-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div *ngIf="this.step==2" class="container">
                    <div class="content-panel">
                        <h2 class="title">Confirmação</h2>
                        <div class="row m-0 p-0">
                            <div class="col">
                                <div class="action-btn">
                                    <button class="btn btn-success btn-lg" (click)="this.desceStep()">
                                        Voltar
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="action-btn">
                                    <button class="btn btn-success btn-lg" (click)="modalRef.hide()">
                                        Proximo
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div width=100px height=100px>.</div>
        </div>
    </ng-template>
    <script type="text/javascript">
        /*jslint browser: true*/
        /*global $, jQuery, alert*/
        (function($) {
            'use strict';

            $(function() {

                $(document).ready(function() {
                    function triggerClick(elem) {
                        $(elem).click();
                    }
                    var $progressWizard = $('.stepper'),
                        $tab_active,
                        $tab_prev,
                        $tab_next,
                        $btn_prev = $progressWizard.find('.prev-step'),
                        $btn_next = $progressWizard.find('.next-step'),
                        $tab_toggle = $progressWizard.find('[data-toggle="tab"]'),
                        $tooltips = $progressWizard.find('[data-toggle="tab"][title]');

                    // To do:
                    // Disable User select drop-down after first step.
                    // Add support for payment type switching.

                    //Initialize tooltips
                    $tooltips.tooltip();

                    //Wizard
                    $tab_toggle.on('show.bs.tab', function(e) {
                        var $target = $(e.target);

                        if (!$target.parent().hasClass('active, disabled')) {
                            $target.parent().prev().addClass('completed');
                        }
                        if ($target.parent().hasClass('disabled')) {
                            return false;
                        }
                    });

                    // $tab_toggle.on('click', function(event) {
                    //     event.preventDefault();
                    //     event.stopPropagation();
                    //     return false;
                    // });

                    $btn_next.on('click', function() {
                        $tab_active = $progressWizard.find('.active');

                        $tab_active.next().removeClass('disabled');

                        $tab_next = $tab_active.next().find('a[data-toggle="tab"]');
                        triggerClick($tab_next);

                    });
                    $btn_prev.click(function() {
                        $tab_active = $progressWizard.find('.active');
                        $tab_prev = $tab_active.prev().find('a[data-toggle="tab"]');
                        triggerClick($tab_prev);
                    });
                });
            });

        }(jQuery, this));
    </script>